In [1]:
import requests
from bs4 import BeautifulSoup

import json

In [2]:
# Send a request to the website
response = requests.get('https://www.latlong.net/category/national-parks-236-42.html')

# Retrieve the HTML content
html = response.content

In [3]:
# Create a Beautiful Soup object
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Find all of the table rows
rows = soup.find_all('tr')

# Create an empty list to store the data
data = []

# Iterate through the rows
for row in rows:
    # Find all of the cells in the row
    cells = row.find_all('td')
    
    # If the row has cells, extract the data from the cells
    if cells:
        place_name = cells[0].text.strip()
        latitude = cells[1].text.strip()
        longitude = cells[2].text.strip()
        
        # Add the data to the list
        data.append({
            'Place Name': place_name,
            'Latitude': latitude,
            'Longitude': longitude
        })

# Print the data
print(data)

[{'Place Name': 'Capitol Reef National Park, UT, USA', 'Latitude': '38.089600', 'Longitude': '-111.149910'}, {'Place Name': 'Pinnacles National Park, CA, USA', 'Latitude': '36.491508', 'Longitude': '-121.197243'}, {'Place Name': 'Rocky Mountain National Park, CO, USA', 'Latitude': '40.343182', 'Longitude': '-105.688103'}, {'Place Name': 'Offshore Trap/Pot Waters Area, Western Atlantic Ocean, the US', 'Latitude': '38.000000', 'Longitude': '-82.000000'}, {'Place Name': 'Steller Sea Lion Protection Area, AL, the US', 'Latitude': '57.466667', 'Longitude': '-153.433334'}, {'Place Name': 'Pacific Remote Islands Marine National Monument, the US', 'Latitude': '16.736944', 'Longitude': '-169.523895'}, {'Place Name': 'Danville Conservation Area, New Florence, MO, USA', 'Latitude': '38.865097', 'Longitude': '-91.504852'}, {'Place Name': 'Sand Harbor State Park, Incline Village, NV, USA', 'Latitude': '39.198364', 'Longitude': '-119.930984'}, {'Place Name': 'White Sands National Park, NM, the US', 'Latitude': '32.779720', 'Longitude': '-106.171669'}, {'Place Name': 'Jackson Hole, WY, USA', 'Latitude': '43.582767', 'Longitude': '-110.821999'}, {'Place Name': 'Mojave National Preserve, Kelso, CA, USA', 'Latitude': '35.141689', 'Longitude': '-115.510399'}, {'Place Name': 'Joshua Tree National Park, California, USA', 'Latitude': '33.881866', 'Longitude': '-115.900650'}, {'Place Name': 'Buffalo National River, St Joe, AR, USA', 'Latitude': '35.985512', 'Longitude': '-92.757652'}, {'Place Name': 'Hot Springs National Park, Hot Springs, AR, USA', 'Latitude': '34.521530', 'Longitude': '-93.042267'}, {'Place Name': 'Kartchner Caverns State Park, Benson, AZ, USA', 'Latitude': '31.837551', 'Longitude': '-110.347382'}, {'Place Name': 'Navajo Nation Reservation, New Mexico, USA', 'Latitude': '36.075321', 'Longitude': '-109.196930'}, {'Place Name': 'Sipsey Wilderness, Mt Hope, AL, USA', 'Latitude': '34.332035', 'Longitude': '-87.434799'}, {'Place Name': 'Wrangell-St. Elias National Park & Preserve, Alaska, USA', 'Latitude': '61.710445', 'Longitude': '-142.985687'}, {'Place Name': 'Lake Clark National Park and Preserve, Port Alsworth, AK, USA', 'Latitude': '60.412697', 'Longitude': '-154.323502'}, {'Place Name': 'Katmai National Park and Preserve, King Salmon, AK, USA', 'Latitude': '58.597813', 'Longitude': '-154.693756'}, {'Place Name': 'Glacier Bay National Park and Preserve, Alaska, USA', 'Latitude': '58.665806', 'Longitude': '-136.900208'}, {'Place Name': 'Turtle Mountain, ND, USA', 'Latitude': '48.852882', 'Longitude': '-99.803535'}, {'Place Name': 'Odiorne Point State Park, Rye, NH, USA', 'Latitude': '43.049023', 'Longitude': '-70.720192'}, {'Place Name': 'Channel Islands National Park, Ventura, CA, USA', 'Latitude': '33.998028', 'Longitude': '-119.772949'}, {'Place Name': 'Maplewood State Park, Pelican Rapids, MN, USA', 'Latitude': '46.520966', 'Longitude': '-95.951576'}, {'Place Name': 'Bear Butte State Park, Sturgis, SD, USA', 'Latitude': '44.475296', 'Longitude': '-103.424309'}, {'Place Name': 'Okefenokee National Wildlife Refuge, Folkston, GA, USA', 'Latitude': '30.773230', 'Longitude': '-82.292732'}, {'Place Name': 'Denali National Park and Preserve, Alaska, USA', 'Latitude': '63.129887', 'Longitude': '-151.197418'}, {'Place Name': 'Acadia National Park, Maine, USA', 'Latitude': '44.338974', 'Longitude': '-68.273430'}, {'Place Name': 'Topanga State Park, Topanga, CA, USA', 'Latitude': '34.093182', 'Longitude': '-118.587318'}, {'Place Name': 'Gates of the Arctic National Park and Preserve, AK, USA', 'Latitude': '67.915199', 'Longitude': '-153.463730'}, {'Place Name': 'Kaloko-Honokōhau National Historical Park, Kailua-Kona, HI, USA', 'Latitude': '19.678328', 'Longitude': '-156.020477'}, {'Place Name': 'Pedernales Falls State Park, Johnson City, TX, USA', 'Latitude': '30.308069', 'Longitude': '-98.257729'}, {'Place Name': 'Whiskeytown National Recreation Area, Whiskeytown, CA, USA', 'Latitude': '40.633495', 'Longitude': '-122.564247'}, {'Place Name': 'Mesa Verde National Park, Mesa Verde, CO, USA', 'Latitude': '37.230873', 'Longitude': '-108.461838'}, {'Place Name': 'Arches National Park, Utah, USA', 'Latitude': '38.733082', 'Longitude': '-109.592514'}, {'Place Name': 'Mount Rainier National Park, Washington, USA', 'Latitude': '46.879967', 'Longitude': '-121.726906'}, {'Place Name': 'Kenai Fjords National Park, Alaska, USA', 'Latitude': '60.043777', 'Longitude': '-149.816360'}, {'Place Name': 'Anahuac National Wildlife Refuge, Anahuac, TX, USA', 'Latitude': '29.610300', 'Longitude': '-94.449081'}, {'Place Name': 'Bandelier National Monument, Los Alamos, NM, USA', 'Latitude': '35.767288', 'Longitude': '-106.311607'}, {'Place Name': 'Summit Bechtel Reserve, Glen Jean, WV, USA', 'Latitude': '37.916035', 'Longitude': '-81.123047'}, {'Place Name': 'Yellowstone National Park, WY, USA', 'Latitude': '44.427895', 'Longitude': '-110.588379'}, {'Place Name': 'Rothrock State Forest, State College, PA, USA', 'Latitude': '40.720585', 'Longitude': '-77.826965'}, {'Place Name': 'Great Smoky Mountains National Park, Tennessee, USA', 'Latitude': '35.611763', 'Longitude': '-83.489548'}, {'Place Name': 'Zion National Park, Utah, USA', 'Latitude': '37.297817', 'Longitude': '-113.028770'}, {'Place Name': 'Yosemite National Park, California, USA', 'Latitude': '37.865101', 'Longitude': '-119.538330'}, {'Place Name': 'Yellowstone National Park, Wyoming, USA', 'Latitude': '44.429764', 'Longitude': '-110.584663'}, {'Place Name': 'Haleakalā National Park, Hawaii, USA', 'Latitude': '20.701283', 'Longitude': '-156.173325'}, {'Place Name': 'Malibu Creek State Park, Calabasas, CA, USA', 'Latitude': '34.105156', 'Longitude': '-118.731316'}, {'Place Name': 'Manti-La Sal National Forest, Price, UT, USA', 'Latitude': '39.187050', 'Longitude': '-111.379890'}, {'Place Name': 'Cherry Creek State Park, Aurora, CO, USA', 'Latitude': '39.639973', 'Longitude': '-104.831863'}, {'Place Name': 'Kissimmee Prairie Preserve State Park, Okeechobee, FL, USA', 'Latitude': '27.612417', 'Longitude': '-81.053383'}, {'Place Name': 'Garden of Gods, Colorado Springs, CO, USA', 'Latitude': '38.873840', 'Longitude': '-104.886665'}, {'Place Name': 'Petrified Forest National Park, Arizona, USA', 'Latitude': '34.909988', 'Longitude': '-109.806793'}, {'Place Name': 'Fort Berthold Indian Reservation, ND, USA', 'Latitude': '47.683880', 'Longitude': '-102.354126'}, {'Place Name': 'Chattahoochee National Forest, Suches, GA, USA', 'Latitude': '34.765972', 'Longitude': '-84.143517'}, {'Place Name': 'Little Sandy National Wildlife Refuge, Lindale, TX, USA', 'Latitude': '32.590797', 'Longitude': '-95.273666'}, {'Place Name': 'Siuslaw National Forest, Tidewater, OR, USA', 'Latitude': '44.358715', 'Longitude': '-123.829994'}, {'Place Name': 'Kings Canyon National Park, California, USA', 'Latitude': '36.887856', 'Longitude': '-118.555145'}, {'Place Name': 'Ruffner Mountain Nature Center, Birmingham, AL, USA', 'Latitude': '33.558990', 'Longitude': '-86.707016'}, {'Place Name': 'Yellowstone National Park, WY, USA', 'Latitude': '44.427284', 'Longitude': '-110.584389'}, {'Place Name': 'Kings Mountain State Park, Blacksburg, SC, USA', 'Latitude': '35.130459', 'Longitude': '-81.345444'}, {'Place Name': 'Honolulu Watershed Forest Preserve, Honolulu, HI, USA', 'Latitude': '21.363251', 'Longitude': '-157.781265'}, {'Place Name': 'Oleta River State Park, North Miami, FL, USA', 'Latitude': '25.921614', 'Longitude': '-80.144402'}, {'Place Name': 'Grant Park, Chicago, IL, USA', 'Latitude': '41.876465', 'Longitude': '-87.621887'}, {'Place Name': 'Wisconsin Interstate State Park, USA', 'Latitude': '45.398449', 'Longitude': '-92.645126'}, {'Place Name': 'Bridge Creek Wildlife Area, Ukiah, OR, USA', 'Latitude': '45.043449', 'Longitude': '-118.949318'}, {'Place Name': 'Willamette National Forest, Blue River, OR, USA', 'Latitude': '44.060471', 'Longitude': '-122.091736'}, {'Place Name': 'Golden Gate Canyon State Park, CA, USA', 'Latitude': '39.814339', 'Longitude': '-105.395622'}, {'Place Name': 'William F Hayden Green Mountain Park, Lakewood, CO, USA', 'Latitude': '39.702827', 'Longitude': '-105.175636'}, {'Place Name': 'Cades Cove, Great Smoky Mountains National Park, Tennessee, USA', 'Latitude': '35.593670', 'Longitude': '-83.824997'}, {'Place Name': 'Lantz Farm and Nature Preserve, WV, USA', 'Latitude': '39.516754', 'Longitude': '-80.649948'}, {'Place Name': 'Myakka State Forest, Englewood, FL, USA', 'Latitude': '26.988386', 'Longitude': '-82.286552'}, {'Place Name': 'Lake Eola Park, Orlando, FL, USA', 'Latitude': '28.545021', 'Longitude': '-81.372856'}, {'Place Name': 'Gulf State Park, Gulf Shores, AL, USA', 'Latitude': '30.262793', 'Longitude': '-87.636337'}, {'Place Name': 'Egypt Valley Wildlife Area, OH, USA', 'Latitude': '40.115486', 'Longitude': '-81.114090'}, {'Place Name': 'Kennesaw Mountain National Battlefield Park, Cobb County, Georgia, USA', 'Latitude': '33.976376', 'Longitude': '-84.579163'}, {'Place Name': 'Shenandoah National Park, Shenandoah, VA, USA', 'Latitude': '38.700516', 'Longitude': '-78.292694'}, {'Place Name': 'Ricketts Glen State Park, PA, USA', 'Latitude': '41.339184', 'Longitude': '-76.290436'}, {'Place Name': 'El Dorado State Park, Kansas, USA', 'Latitude': '37.866047', 'Longitude': '-96.756935'}, {'Place Name': 'Polihale State Park, Waimea, HI, USA', 'Latitude': '22.079357', 'Longitude': '-159.761642'}, {'Place Name': 'Everglades National Park, FL, USA', 'Latitude': '25.286615', 'Longitude': '-80.898651'}, {'Place Name': 'Mt Hood National Forest, OR, USA', 'Latitude': '45.227173', 'Longitude': '-121.839455'}, {'Place Name': 'Bryce Canyon National Park, Utah, USA', 'Latitude': '37.593048', 'Longitude': '-112.187332'}, {'Place Name': 'Mammoth Cave National Park, KY, USA', 'Latitude': '37.183640', 'Longitude': '-86.159943'}, {'Place Name': 'Redwood National and State Parks, CA, USA', 'Latitude': '41.213181', 'Longitude': '-124.004631'}, {'Place Name': 'Yellowstone National Park, USA', 'Latitude': '44.423691', 'Longitude': '-110.588516'}]

In [5]:
# Create a dataframe from the data
df = pd.DataFrame(data)

# Print the resulting dataframe
print(df)

NameError: name 'pd' is not defined

In [ ]:


# Define a function to extract the place name
def extract_place_name(name):
    # Split the string by ', '
    parts = name.split(', ')
    
    # Return the first part (the place name)
    return parts[0]

# Apply the function to the 'Place Name' column
df['Place Name'] = df['Place Name'].apply(extract_place_name)

# Print the resulting dataframe
print(df)

                          Place Name   Latitude    Longitude
0         Capitol Reef National Park  38.089600  -111.149910
1            Pinnacles National Park  36.491508  -121.197243
2       Rocky Mountain National Park  40.343182  -105.688103
3      Offshore Trap/Pot Waters Area  38.000000   -82.000000
4   Steller Sea Lion Protection Area  57.466667  -153.433334
..                               ...        ...          ...
82           Mt Hood National Forest  45.227173  -121.839455
83        Bryce Canyon National Park  37.593048  -112.187332
84        Mammoth Cave National Park  37.183640   -86.159943
85  Redwood National and State Parks  41.213181  -124.004631
86         Yellowstone National Park  44.423691  -110.588516

[87 rows x 3 columns]

In [ ]:
# Define a function to combine the 'Latitude' and 'Longitude' columns
def combine_coords(row):
    # Concatenate the 'Latitude' and 'Longitude' values with a comma separator
    coords = f"{row['Latitude']}, {row['Longitude']}"
    
    # Return the resulting string
    return coords

# Apply the function to each row in the dataframe
df['coords'] = df.apply(combine_coords, axis=1)

# Print the resulting dataframe
print(df)

                          Place Name   Latitude    Longitude  \
0         Capitol Reef National Park  38.089600  -111.149910
1            Pinnacles National Park  36.491508  -121.197243
2       Rocky Mountain National Park  40.343182  -105.688103
3      Offshore Trap/Pot Waters Area  38.000000   -82.000000
4   Steller Sea Lion Protection Area  57.466667  -153.433334
..                               ...        ...          ...
82           Mt Hood National Forest  45.227173  -121.839455
83        Bryce Canyon National Park  37.593048  -112.187332
84        Mammoth Cave National Park  37.183640   -86.159943
85  Redwood National and State Parks  41.213181  -124.004631
86         Yellowstone National Park  44.423691  -110.588516

                    coords
0   38.089600, -111.149910
1   36.491508, -121.197243
2   40.343182, -105.688103
3    38.000000, -82.000000
4   57.466667, -153.433334
..                     ...
82  45.227173, -121.839455
83  37.593048, -112.187332
84   37.183640, -86.159943
85  41.213181, -124.004631
86  44.423691, -110.588516

[87 rows x 4 columns]

In [ ]:

# Drop the 'Latitude' and 'Longitude' columns
df2 = df.drop(columns=['Latitude', 'Longitude'])

# Print the resulting dataframe
print(df2)

                          Place Name                  coords
0         Capitol Reef National Park  38.089600, -111.149910
1            Pinnacles National Park  36.491508, -121.197243
2       Rocky Mountain National Park  40.343182, -105.688103
3      Offshore Trap/Pot Waters Area   38.000000, -82.000000
4   Steller Sea Lion Protection Area  57.466667, -153.433334
..                               ...                     ...
82           Mt Hood National Forest  45.227173, -121.839455
83        Bryce Canyon National Park  37.593048, -112.187332
84        Mammoth Cave National Park   37.183640, -86.159943
85  Redwood National and State Parks  41.213181, -124.004631
86         Yellowstone National Park  44.423691, -110.588516

[87 rows x 2 columns]

In [ ]:
# Create an empty dataframe
df3 = pd.DataFrame(columns=['Place Name', 'coords'])

# Iterate over the rows of the data
for row in data:
    # Append the row to the dataframe
    df3 = df.append(row, ignore_index=True)

# Print the resulting dataframe
print(df3)

                          Place Name   Latitude    Longitude  \
0         Capitol Reef National Park  38.089600  -111.149910
1            Pinnacles National Park  36.491508  -121.197243
2       Rocky Mountain National Park  40.343182  -105.688103
3      Offshore Trap/Pot Waters Area  38.000000   -82.000000
4   Steller Sea Lion Protection Area  57.466667  -153.433334
..                               ...        ...          ...
83        Bryce Canyon National Park  37.593048  -112.187332
84        Mammoth Cave National Park  37.183640   -86.159943
85  Redwood National and State Parks  41.213181  -124.004631
86         Yellowstone National Park  44.423691  -110.588516
87    Yellowstone National Park, USA  44.423691  -110.588516

                    coords
0   38.089600, -111.149910
1   36.491508, -121.197243
2   40.343182, -105.688103
3    38.000000, -82.000000
4   57.466667, -153.433334
..                     ...
83  37.593048, -112.187332
84   37.183640, -86.159943
85  41.213181, -124.004631
86  44.423691, -110.588516
87                     NaN

[88 rows x 4 columns]

In [ ]:
df4 = df3.dropna(subset=['coords'])

# Print the resulting dataframe
print(df4)

                          Place Name                  coords
0         Capitol Reef National Park  38.089600, -111.149910
1            Pinnacles National Park  36.491508, -121.197243
2       Rocky Mountain National Park  40.343182, -105.688103
3      Offshore Trap/Pot Waters Area   38.000000, -82.000000
4   Steller Sea Lion Protection Area  57.466667, -153.433334
..                               ...                     ...
82           Mt Hood National Forest  45.227173, -121.839455
83        Bryce Canyon National Park  37.593048, -112.187332
84        Mammoth Cave National Park   37.183640, -86.159943
85  Redwood National and State Parks  41.213181, -124.004631
86         Yellowstone National Park  44.423691, -110.588516

[87 rows x 2 columns]

In [ ]:
df4.to_json(r'coords.json', orient='records')